.textos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.contenidotabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #EEEEEE;
}
.titulotabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #666666;
}
.campos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.links { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color: #000000; 
	text-decoration: underline 
}
